.contact {
  background-color: var(--bg);
  color: var(--text-main);
  padding: 4rem 1.25rem;
}

/* HERO */
.contact__hero {
  max-width: 43.75rem;
  margin-bottom: 4rem;
}

.contact__hero-title {
  font-size: clamp(2.2rem, 6vw, 3.2rem);
  line-height: 1.1;
}

.contact__hero span {
  color: var(--accent);
}

.contact__hero-text {
  margin-top: 1.2rem;
  color: var(--text-muted);
}

/* STRIP */
.contact__strip {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding: 1.5rem 0;
  margin-bottom: 4rem;
}

.contact__strip span {
  background-color: var(--bg-soft);
  padding: 0.6rem 1.2rem;
  border-radius: 999px;
  white-space: nowrap;
  color: var(--text-muted);
  border: 1px solid var(--accent-soft);
}

/* FORM */
.contact__form-section {
  background-image: linear-gradient(145deg,var(--bg-soft),var(--bg-hover));
  padding: 2.5rem;
  border-radius: 1.25rem;
}

.contact__form {
  display: grid;
  gap: 1.5rem;
}

.input,
.form__textarea {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--accent-soft);
  padding: 0.8rem 0;
  color: var(--text-main);
  font-size: 1rem;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-text-fill-color: var(--text-main);
  transition: background-color 5000s ease-in-out 0s;
}

.form__group textarea {
  resize: vertical;
  min-height: 7.5rem;
}

.form__group input:focus,
.form__group textarea:focus {
  outline: none;
  border-color: var(--accent);
}

.form__row {
  display: grid;
  gap: 1.2rem;
  align-items: flex-start;
}

.form__group input[type="date"],
.form__group input[type="time"] {
  color: var(--text-main);
  color-scheme: dark;
}

.date__warning {
  display: none;
  color: var(--accent);
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.date__display,
.time__display {
  font-size: 1rem;
  background-color: transparent;
  border: none;
  outline: none;
}

/* BUTTON */
.btn__primary {
  align-self: flex-start;
  margin-top: 1rem;
  background-color: var(--accent);
  color: var(--text-main);
  padding: 0.9rem 2.2rem;
  border-radius: 1.875rem;
  border: none;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}

.btn__primary i {
  margin-left: 0.5rem; 
  font-size: 1rem;     
}

.btn__primary:hover i {
  transform: translateX(4px);
  transition: transform 0.3s ease;
}


/* DIRECT CONTACT */
.contact__direct {
  margin-top: 5rem;
  text-align: center;
}

.contact__direct-text {
  color: var(--text-main);
  margin-bottom: 1rem;
}

.contact__links {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.contact__links-socials{
  color: var(--accent);
  text-decoration: none;
  font-weight: 500;
}

/* DESKTOP */
@media (min-width: 48em) {
  .contact {
    padding: 6rem 4rem;
  }

  .contact__form-section {
    max-width: 43.75rem;
  }

  .form__row {
    grid-template-columns: 1.5fr 1fr 1fr;
    align-items: center;
  }

  #project {
    margin-top: 1.5rem;
  }
}
